<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
    <link th:href="@{/styles/Main.css}" rel="stylesheet" />
<title>List Street</title>
</head>
<body>

<header th:replace="~{fragments::navHeader}" ></header>

<div class="container">

   <button id="insertSubscription" value="/street/insert" class="modal button_general">Crear</button>

</div>

<div id="modalformdialog">


</div>

    <table>
    
    <thead>

     <th>Nombre de la Calle</th>
    <th>Modificar</th>
    <th>Eliminar</th>

    </thead>
    
    
    <tr th:each="street : ${streets}">
    
    <td th:text="${street.nameStreet}"></td>

        <td><button th:value="'/street/update/' + ${street.idStreet}" class="modal button_general button_general_orange">Modificar</button></td>
        <td><a th:href="@{/street/delete/} + ${street.idStreet}" class="button_general button_general_red">Eliminar</a></td>

    </tr>

    </table>
 </div>

<script src="/javascript/main.js"></script>

</body>
</html>