<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link th:href="@{/styles/Main.css}" rel="stylesheet" />
    <title>Insert title here</title>
</head>
<body>

<div >
    <header>

        <nav th:replace="~{fragments::navHeader}"></nav>

    </header>

    <div th:each="user : ${users}" class="container ">
        <div class="container_blue ">

            <ul class="user_div_ul">

                <p>Numero Socio </p>
                <li th:text ="${user.idusers}"></li>
                <p> Nombre </p>
                <li th:text="${user.name}"></li>
                <p>Apellido </p>
                <li th:text="${user.surname}"></li>
                <p> Telefono </p>
                <li th:text="${user.phone}"></li>
                <p> DNI </p>
                <li th:text="${user.DNI}"></li>
                <p> Birthdate</p>
                <li th:text="${user.birthdate}"></li>
                <p> Correo Electronico</p>
                <li th:text="${user.email}"></li>
                <p>Edad</p>
                <li th:text="${user.age}"></li>


            </ul>


        </div >


     <div class="container container_column">

        <div th:if="${user.img}  ">
            <img th:src= "'/images/users/'+${user.idusers}+'/' + ${user.img}" class="imgUser">

        </div>

        <div th:if="!${user.img}">
            <img src= /images/web/avatar.gif/></img>

        </div>

        <div>
            <button class="buttonRequest button_general" th:value="'/booking/list/' + ${users.idusers}" >Reservas</button>
            <button class="buttonRequest button_general" th:value="'/subscription/list/' + ${users.idusers}">Subscripciones</button>
            <button class="buttonRequest button_general" th:value="'/payments/list/' + ${users.idusers}">Pagos</button>

        </div>

         <div class="insertUserForm"></div>


     </div>

    </div>



</div>


<script src="/javascript/main.js"></script>

</body>
</html>