<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Create Booking</title>
<link th:href="@{/styles/Main.css}" rel="stylesheet" />
</head>
<body>

    <div>

       <form th:action="@{/booking/insert}" method="post" th:object="${bookingForm}">
           <label for="daybook">Day</label>
           <input type="date" name="dayBook" th:field="*{dayBook}" id="daybook">

           <label for="hourbook">Hour</label>
           <input type="time" name="hourBook" id="hourBook" th:field="*{hourBook}" >

           
           <input type="hidden" name="idusers"  th:field="*{idusers}"> 
           
           <label for="idStreet">Calle</label>
           <input type="text" name="idStreet"  th:field="*{idStreet}" id="idStreet">
           
           
                  
           <input type="submit">

          
       </form>



    </div>

	

	<script src="../static/javascript/main.js"></script>

</body>
</html>