<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="modalPlanning">
    <dialog id= "modalinsert">

    <div class="container container_column">

        <div>
            <button id = "btnCerrar" class="button_general button_general_red">Close</button>
        </div>

        <div class="container_column">

            <form th:action="@{/planning/save}"  method="post" th:object = "${planningForm}" class="container container_column" >
                <div class="container_grid">
                <input type="hidden" name="idPlannning" th:field="*{idPlanning}">

                <label for="initTime">Hora de Inicio</label>
                <input type="time" id="initTime" th:field="*{initTime}">


                <label for="FinishTime">Hora de Finalizacion</label>
                <input type="time" id="FinishTime" th:field="*{FinishTime}">

                <label for="planningDay">Fecha</label>
                <input type="date" id="planningDay" th:field="*{planningDay}">
                
                <label for="ocupacion">ocupacion</label>
                <input type="text" id="ocupacion" th:field="*{ocupacion}">
                
                
                 <label for="idStreet">Calle</label>
                 <select name="idStreet" id="idStreet">
                    <option th:each="Item : ${streets}"
                            th:value="${Item.idStreet}"
                            th:text="${Item.nameStreet}"
                            th:selected="false"/>
                </select>
                <label for="activity">Actividad</label>
                <select name="activity" id="activity" >
                    <option th:each="Item : ${activities}"
                            th:value="${Item.idActivity}"
                            th:text="${Item.name}"
                            th:selected="false"/>
                </select>
                </div>
                <div>
                    <input type="Submit"  class="button_general" value="Enviar">
                </div>

        </form>
        </div>
    </div>
    </dialog>

</div>




</body>
</html>