<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="modalActivity">
    <dialog id= "modalinsert"  >

        <div class="container container_column">

        <div>
            <button id = "btnCerrar"  class="button_general button_general_red">Close</button>
        </div>

            <div class="container_column">

        <form th:action="@{/activities/save}"  method="post" th:object = "${activityForm}" class="container container_column">

            <input type="hidden" name="idActivity" th:field="*{idActivity}">

            <div class="mb-4">
                <label for ="name" >Actividad</label>
                <input type="text" th:field="*{name}" id="name" required>
            </div>
            <div >
                <input type="Submit" class="button_general" value="Enviar">

            </div>
        </form>

            </div>
        </div>

    </dialog>

</div>




</body>
</html>