<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modal Street</title>
</head>
<body>


<div th:fragment="modalBonus">
    <dialog id= "modalinsert"  >
        <div class="container container_column">

        <div>
            <button id="btnCerrar" class="button_general button_general_red">Close</button>
        </div>
            <div class="container_column">
        <form th:action="@{/bono/save}"  method="post" th:object = "${bonusForm}" enctype="multipart/form-data" class="container container_column">
            <div class="container_grid">

                <input type="hidden" name="idBonos" th:field="*{idBonos}">


                <label for ="bonoName" >Tipo</label>
                <input type="text" th:field="*{bonoName}" id="bonoName" class="form-control">
                
                <label for ="CostBonos" >Precio</label>
                <input type="text" th:field="*{costBonos}" id="costBonos" class="form-control">
                
                <label for ="duration" >Duracion</label>
                <input type="text" th:field="*{duration}" id="duration" class="form-control">

            <div style="margin-top: 20px">
                <label for ="file" >imagen</label>
                <input type="file"  id="file" class="form-control" name="file">
            </div>

            </div>


            <div class="buttonsForms">
                <input type="Submit" class="button_general">
            </div>

            </div>

        </form>

        </div>

    </dialog>

</div>

</body>
</html>