<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<link th:href="@{/Styles/StyleLogin.css}" rel="stylesheet" />
<body>

<header>


</header>

<div class="mainDivLogin">
  <div class="containerFomLogin">
      <form method="post" th:action="@{/login}" class="formLogin">

          <img src="/images/logo%20piscina.png " class="imglogo">

          <h1>Log in</h1>
          <label th:for="username">Usuario</label>
          <input type="text" name="username" id="username" placeholder="Usuario">

          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="Contraseña">

           <input type="submit" value="Log in" class="submit">
      </form>
  </div>

</div>



</body>
</html>