<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link th:href="@{/styles/Main.css}" rel="stylesheet" />
</head>
<body>

  <h1>Hello</h1>
  
  
  <table>
  
  <thead>
  
  
  
  </thead>
  
    <th>Bono</th>
    <th>Inicio</th>
    <th>Fin</th>
    <th>Estado</th>
    
   <tbody>
   
   <tr th:each="bonus : ${user}">
   
    <td th:text="${bonus.bonoName}"></td>
    <td th:text="${bonus.dateInit}"></td>
    <td th:text="${bonus.dateFinish}"></td>
    <td th:text="${bonus.state}"></td>
    
 </tr>
   
   
   
   </tbody>
  
  </table>


 

</body>
</html>