@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:ital,wght@1,300&display=swap');


body{
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
justify-content: space-around;
	align-items: center;


}

.container{

	display: flex;
	justify-content: space-around;
	align-items: center;
	justify-items: center;
	margin: 20px;

}


.container-left{
	display: flex;
    justify-content: flex-start;
	align-items: flex-start;
	margin: 20px;


}

nav{
	list-style: none;
	color: white;
	background-color: cadetblue;
	padding: 20px;

}


table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: #F2F2F2 5px solid;
}

 th, td {
    padding: 20px;
    text-align:center;
  }


    tbody tr:nth-child(2n-1) {
    background-color: #F2F2F2;
  }

  tbody tr:nth-child(2n) {
    background-color: #FFFFFF;
  }


.rowUser :hover{

	background-color: blue;
	cursor:pointer;
}


.imglogo{

    width: 100px;
}

.mainContainerHeader{

    background-color: #AED6F1;
}


.mainContainerSubscription{
	display:flex;
	align-items: center;
	justify-content: space-around;

}

#modalinsert::backdrop{

	background-color :rgba(0,0,0,.55)
}

#modalinsert{

    width: 600px;


}

.buttonsForms{
	display:flex;
	align-items: center;
	justify-content: space-around;
}


.alertOcupation{
	color: red;
}


button{
	border-radius: 5px 5px;
	color:white;
	cursor: pointer;

	padding: 5px 10px;
}
.green{
	background-color: #085ED6;
}

.red{
	background-color: red;
}

a{

	padding: 20px;
	color: black;
	text-decoration:none;
	border-radius: 4px 4px;
}

ul{
	list-style:none;

}

li{
	border:2px solid black;
	display:inline;
}


.mainFormContainer{
	display: grid;
	grid-template-columns: repeat(8,1fr);
}

.mainFormContainer form{
	grid-column: 2/4;
	display: grid;
}

.form{
	display: grid;
	gap: 20px;
}

.formLogin{
	
	width:600px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;

	
}


.mainDivLogin{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
	width: 90%;

}